<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.yaowenbin.server.monitor.PerformanceSchemaMapper">

    <select id="listNoIndexUsedSql" resultType="io.github.yaowenbin.server.monitor.UnindexedSql">
        SELECT THREAD_ID, SQL_TEXT, CURRENT_SCHEMA, TIMER_WAIT exec_time_ns, NO_INDEX_USED
        FROM performance_schema.events_statements_history
        WHERE
            SQL_TEXT IS NOT NULL
            AND NO_INDEX_USED = 1
            <if test="threadId != null">
                AND THREAD_ID = #{threadId}
            </if>
            <if test="currentSchema == null">
                AND CURRENT_SCHEMA != 'performance_schema'
            </if>
            <if test="currentSchema != null">
                AND CURRENT_SCHEMA = #{currentSchema}
            </if>
            <if test="execTimeNs != null">
                AND TIMER_WAIT >= #{execTimeNs}
            </if>
    </select>


    <select id="listMysqlThread" resultType="io.github.yaowenbin.server.monitor.MysqlThread">
        SELECT THREAD_ID as thread_id, PROCESSLIST_ID as processlist_id, THREAD_OS_ID as os_thread_id, PROCESSLIST_USER as user, PROCESSLIST_HOST as host, PROCESSLIST_DB as db,
        PROCESSLIST_COMMAND as command, PROCESSLIST_TIME as time, PROCESSLIST_STATE as state, CONNECTION_TYPE as connectino_type
        FROM performance_schema.threads
        WHERE TYPE = 'FOREGROUND'
        <if test="user != null and user != ''">
            AND PROCESSLIST_USER = #{user}
        </if>
        <if test="host != null and host != ''">
            AND PROCESSLIST_HOST = #{host}
        </if>
        <if test="db != null and db != ''">
            AND PROCESSLIST_DB = #{db}
        </if>
        <if test="connectionType != null and connectionType != ''">
            AND CONNECTION_TYPE = #{connectionType}
        </if>
        <if test="time != null">
            AND PROCESSLIST_TIME > #{time}
        </if>
    </select>
</mapper>
