<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.yaowenbin.charon.monitor.PerformanceSchemaMapper">

    <select id="listNoIndexUsedSql" resultType="io.github.yaowenbin.charon.monitor.UnindexedSql">
        SELECT THREAD_ID, SQL_TEXT, CURRENT_SCHEMA, TIMER_WAIT exec_time_ns, NO_INDEX_USED
        FROM performance_schema.events_statements_history
        <where>
            SQL_TEXT IS NOT NULL
            <if test="threadId != null">
                AND THREAD_ID = #{threadId}
            </if>
            <if test="currentSchema == null">
                AND CURRENT_SCHEMA != 'performance_schema'
            </if>
            <if test="currentSchema != null">
                AND CURRENT_SCHEMA = #{currentSchema}
            </if>
            <if test="execTimeNs != null">
                AND TIMER_WAIT >= #{execTimeNs}
            </if>
        </where>
    </select>

    <!--<select id="listSqlExecTimes" resultType="com.yaowb.monitor.performance.SqlExecTimesResp">-->
    <!--    SELECT EVENT_NAME as event, COUNT(EVENT_NAME) as count, AVG(LOCK_TIME/1000000) as latency_ms-->
    <!--    FROM performance_schema.events_statements_history-->
    <!--    <where>-->
    <!--        <if test="crudOnly != null and crudOnly == true">-->
    <!--            AND event_name IN('statement/sql/select', 'statement/sql/update', 'statement/sql/delete',-->
    <!--            'statement/sql/select')-->
    <!--        </if>-->
    <!--        <if test="latencyMs != null">-->
    <!--            AND latencyMs >= #{latencyMs}-->
    <!--        </if>-->
    <!--    </where>-->
    <!--    GROUP BY EVENT_NAME-->
    <!--    ORDER BY latency_ms DESC-->
    <!--</select>-->

    <!--<select id="listSqlExecTimes_COUNT" resultType="java.lang.Long">-->
    <!--    SELECT COUNT(1)-->
    <!--    FROM performance_schema.events_statements_history-->
    <!--    <where>-->
    <!--        <if test="crudOnly != null and crudOnly == true">-->
    <!--            AND event_name IN('statement/sql/select', 'statement/sql/update', 'statement/sql/delete',-->
    <!--            'statement/sql/select')-->
    <!--        </if>-->
    <!--        <if test="latencyMs != null">-->
    <!--            AND latencyMs >= #{latencyMs}-->
    <!--        </if>-->
    <!--    </where>-->
    <!--    GROUP BY EVENT_NAME-->
    <!--</select>-->

    <!--<select id="listThreads" resultType="com.yaowb.monitor.performance.ThreadResp">-->
    <!--    SELECT THREAD_ID, PROCESSLIST_ID, THREAD_OS_ID, PROCESSLIST_USER user, PROCESSLIST_HOST host, PROCESSLIST_DB db,-->
    <!--    PROCESSLIST_COMMAND, PROCESSLIST_TIME, PROCESSLIST_STATE, CONNECTION_TYPE-->
    <!--    FROM performance_schema.threads-->
    <!--    WHERE TYPE = 'FOREGROUND'-->
    <!--    <if test="user != null and user != ''">-->
    <!--        AND PROCESSLIST_USER = #{user}-->
    <!--    </if>-->
    <!--    <if test="host != null and host != ''">-->
    <!--        AND PROCESSLIST_HOST = #{host}-->
    <!--    </if>-->
    <!--    <if test="db != null and db != ''">-->
    <!--        AND PROCESSLIST_DB = #{db}-->
    <!--    </if>-->
    <!--    <if test="connectionType != null and connectionType != ''">-->
    <!--        AND CONNECTION_TYPE = #{connectionType}-->
    <!--    </if>-->
    <!--    <if test="time != null">-->
    <!--        AND PROCESSLIST_TIME > #{time}-->
    <!--    </if>-->
    <!--</select>-->

    <!--<select id="listMemoryAllocated"-->
    <!--        resultType="com.yaowb.monitor.performance.MemoryAllocatedResp">-->
    <!--    SELECT thread_id, user, current_allocated, total_allocated-->
    <!--    FROM sys.memory_by_thread_by_current_bytes-->

    <!--    <if test="user != null and user != ''">-->
    <!--        AND user = #{user}-->
    <!--    </if>-->
    <!--</select>-->

    <!--<select id="countThreads" resultType="Long">-->
    <!--    SELECT COUNT(THREAD_ID)-->
    <!--    FROM performance_schema.threads-->
    <!--</select>-->

    <!--<select id="countMemory" resultType="Double">-->
    <!--    SELECT CAST(total_allocated AS DECIMAL(6)) result-->
    <!--    FROM sys.memory_global_total-->

    <!--</select>-->

    <!--<select id="countBuffer" resultType="Double">-->
    <!--    SELECT ifnull(CAST(allocated AS DECIMAL(6)), 0) result-->
    <!--    FROM sys.innodb_buffer_stats_by_schema-->
    <!--    WHERE object_schema = #{schema}-->
    <!--</select>-->

    <!--<select id="countSqlEvent" resultType="Long">-->
    <!--    SELECT COUNT(EVENT_NAME) as count-->
    <!--    FROM performance_schema.events_statements_history-->

    <!--</select>-->

    <!--<select id="avgCrudEventLatency" resultType="Long">-->
    <!--    SELECT EVENT_NAME as event, avg(LOCK_TIME / 1000000) as latency_ms-->
    <!--    FROM performance_schema.events_statements_history-->
    <!--    WHERE event_name IN ('statement/sql/select', 'statement/sql/update', 'statement/sql/delete',-->
    <!--                         'statement/sql/select')-->
    <!--    GROUP BY EVENT_NAME-->
    <!--    ORDER BY latency_ms DESC-->
    <!--</select>-->


</mapper>
